<div class="d-flex container">
    <div class="row justify-content-center align-center">
        
            
                <% @rooms.each do |room|%>
                    <div class="col-4 ">
                    
                        <div class="card mx-4 my-2" style="width: 20rem">
                            <div class="card-header">
                                Room: <p class="fw-semibold mb-0"> <%= room.name %></p>
                            </div>
                            <div class="card-body">
                                </p>
                                <p> Capacity:
                                <%= room.capacity %>
                                </p>

                                <% if room.bookings.any? %>
                                    <p>Number of bookings: <%= room.bookings.count %></p>
                                <% else %>
                                    <p>No bookings for this room.</p>
                                <% end %>
                                
                                <%= link_to "See bookings for this room", room, class:"btn btn-primary" %>
                            </div>
                        </div>
                        
                    </div>
            
                <% end %>
            
       
    </div>
</div>